# Dependencies
node_modules

# Build output
dist
dist-ssr

# Database
*.db
*.db-shm
*.db-wal

# Drizzle migrations
drizzle/

# Environment & local config
*.local
.env
.env.*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
